# Puerto donde corre la API
PORT=3000

# Entorno de ejecución
NODE_ENV=development

# Configuración individual de BD
DB_HOST=localhost
DB_PORT=3306
DB_NAME=inscripcion_cursos
DB_USER=root
DB_PASSWORD=password

# URL completa de BD (utilizada en producción)
DATABASE_URL=mysql://usuario:password@localhost:3306/inscripcion_cursos

# JWT
JWT_SECRET=tu_clave_secreta

# CORS
CORS_ORIGIN=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000/api
